$black: #303241;
$gray: lighten($black, 10);
$light-gray: lighten($gray, 10);
$red: #dc665b;
$green: #7af85d;
$blue: #67dcf9;
$yellow: #e8e073;
$white: #e3dcf3;

$font-size: 16pt;
$font-path: '/static/fonts';
$line-height: 1.25rem;
$transition-duration: .25s;

$app-bg-color: $black;
$app-fg-color: $white;
$app-font-family: sans-serif;

$control-bg-color: lighten($app-bg-color, 10);
$control-hover-bg-color: darken($control-bg-color, 5);

$border-radius: 6px;
$border-thickness: 2px;
$border-color: #202029;

$button-bg-color: $control-bg-color;
$button-hover-bg-color: $control-hover-bg-color;
$button-border-color: $border-color;
$button-border-radius: $border-radius;
$button-border-thickness: $border-thickness;
$button-font-size: .5rem;
$button-min-width: $line-height;
$button-padding: .6rem;

$spinbox-bg-color: $control-bg-color;
$spinbox-hover-bg-color: $control-hover-bg-color;
$spinbox-border-color: $border-color;
$spinbox-border-radius: $border-radius;
$spinbox-border-thickness: $border-thickness;
$spinbox-font-size: .75rem;
$spinbox-padding-left: .5rem;
$spinbox-padding-right: 1rem;
$spinbox-arrow-border-color: darken($spinbox-bg-color, 5);
$spinbox-arrow-hover-bg-color: $control-hover-bg-color;
$spinbox-arrow-font-size: .6rem;
$spinbox-arrow-width: 1rem;

$transport-bar-height: $line-height;
$transport-bg-color: #26272f;
$transport-font-size: .75rem;
$transport-item-separator-color: $border-color;
$transport-item-spacing: 0rem;
$transport-item-margin: .25rem;

$track-border-color: $light-gray;
$track-border-thickness: 1px;
$track-active-color: $yellow;
$track-active-corner-border-size: .5rem;
$track-active-corner-border-thickness: 3;
$track-active-corner-border-offset: -1;
$track-margin: .0625rem;
$track-padding: .25rem;
$track-header-margin: 1rem;
$track-header-font-size: .5rem;
$track-step-font-familly: 'Source Code Pro';
$track-step-font-size: .5rem;
$track-step-font-weight: 700;
$track-step-line-height: .6rem;
$track-step-active-bg-color: $light-gray;
$track-step-pitch-color: $white;
$track-step-velocity-color: $green;
