@import "global";
html {
	font-size: $font-size;
}
body {
	background-color: $app-bg-color;
	color: $app-fg-color;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	line-height: $line-height;
}

@import "button";
