@import "global";
.pattern {
	background-color: $pattern-bg-color;
	display: inline-block;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	@include shadow($pattern-shadow-level);
}
.beat-indexes, .track {
	border: {
		color: $pattern-track-border-color;
		style: solid;
		width: $pattern-track-border-thickness;
	}
	display: inline-block;
	padding: $pattern-track-padding;
	margin: $pattern-track-margin;
	position: relative;
	& > ul {
		font: {
			family: $pattern-track-step-font-familly;
			size: $pattern-track-step-font-size;
			weight: $pattern-track-step-font-weight;
		}
		line-height: $pattern-track-step-line-height;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		& > li {
			color: $light-gray;
			&.active {
				background-color: $pattern-track-step-active-bg-color;
			}
			&:nth-child(4n + 1) {
				background-color: $gray;
				color: $white;
			}
		}
	}
	header {
		font-size: $pattern-track-header-font-size;
		text-align: center;
		min-height: 3rem;
	}
}
.beat-indexes {
	background-color: $pattern-track-border-color;
	.button-group {
		@include button-group(
			$border-thickness: 1px,
			$display: block,
			$font-size: .5rem,
			$height: 16px,
			$padding: 6px,
			$labels: (down: '\f104', up: '\f105')
		);
	}
}
.track {
	.pitch {
		color: $pattern-track-step-pitch-color;
	}
	.velocity {
		color: $pattern-track-step-velocity-color;
	}
	&.active {
		header {
			color: $pattern-track-active-color;
		}
		@include corner-border(
			$width: $pattern-track-active-corner-border-size,
			$height: $pattern-track-active-corner-border-size,
			$thickness: $pattern-track-active-corner-border-thickness,
			$offset: $pattern-track-active-corner-border-offset,
			$color: $pattern-track-active-color
		);
	}
}
