@import "global";
.spin-box {
	background-color: $spinbox-bg-color;
	border: {
		color: $spinbox-border-color;
		style: solid;
		width: $spinbox-border-thickness;
	}
	border-radius: $spinbox-border-radius;
	box-sizing: border-box;
	display: inline-block;
	padding-left: $spinbox-padding-left;
	padding-right: $spinbox-padding-right;
	position: relative;
	height: $line-height;
	transition: all $transition-duration;
	&:hover {
		background-color: $spinbox-hover-bg-color;
	}
	input[type=number] {
		background-color: transparent;;
		border: none;
		color: inherit;
		display: block;
		font-size: $spinbox-font-size;
		font-weight: bold;
		height: 100%;
		margin: 0;
		outline: none;
		padding: 0;
		text-align: left;
		&:hover {
			color: $blue;
		}
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}
	.spinbox-arrow-wrapper {
		border-left: 1px solid $spinbox-arrow-border-color;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: $spinbox-arrow-width;
	}
	.spinbox-arrow {
		border: none;
		display: block;
		font-size: $spinbox-arrow-font-size;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 50%;
		&:hover {
			background-color: $spinbox-arrow-hover-bg-color;
			color: $blue;
		}
		&[data-action="up"] {
			border-radius: 0 $spinbox-border-radius 0 0;
			line-height: 50%;
			&::after {
				content: '\f0d8';
			}
		}
		&[data-action="down"] {
			border-radius: 0 0 $spinbox-border-radius 0;
			line-height: 50%;
			&::after {
				content: '\f0d7';
			}
		}
	}
}
